* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #8DD6F6, #0E97D4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    text-align: center;
    background: #9cd5ff;
    width: max-content;
    height: 300px;
    width: 300px;
    padding: 50px;
    border-radius: 10px;
    transition: 0.1s;
    box-shadow: 10px 5px 50px 5px #2283aa;

}

h1 {
    font-family: "Boldonse", system-ui;
    font-weight: bolder;
    font-style: normal;
    color: #063c52;
    margin-bottom: 75px;
}

input {
    width: 100%;
    height: 15px;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 7px;
    margin-top: 5px;
    border: 1px solid #00b7ff;
}

p {
    margin-top: 35px;
    color: #063c52;
}

button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #2283aa;
    color: white;
    border: 1px solid #9cd5ff;
}